@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F0F7F2;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

/* 恢复显示细滚动条 */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f8f8f8;
}
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 10px;
}
